*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    
    width:100%;
    height: 100%;

}
.a {
    width: 250px;
    height: 150px;
    background-color: blue;
    text-align: center;
    max-width: auto;
    align-items: center;

}
#c{
    color: red;
    background-color: black;
}